:root {
    color-scheme: light dark;
}

body {
    /*width: 100px;
    padding: 10px;
     */
    /*font-family: system-ui;*/
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
